.filters {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.filters-range-input {
  width: 50px;
}

.filters input {
  height: 30px;
}

.filters-buttons {
  display: flex;
  flex-direction: column;
}

.filters-clear-button {
  border: none;
  width: 100px;
  display: inline;
  background: none;
  color: red;
}

.filters button {
  cursor: pointer;
  height: 30px;
}
