.sorting {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.sorting-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.sorting-range-input {
  width: 50px;
}

.sorting input {
  height: 30px;
}

.sorting-buttons {
  display: flex;
  flex-direction: column;
}

.sorting-clear-button {
  border: none;
  width: 100px;
  display: inline;
  background: none;
  color: red;
}

.sorting button {
  cursor: pointer;
  height: 30px;
}
